/vendor
/node_modules
/public/storage
/public/plugins
/public/upload
Homestead.yaml
Homestead.json
.env
.DS_Store
**/.DS_Store
composer.phar
public/vendor/laravel-filemanager/files
public/vendor/laravel-filemanager/images
