.auth {
  background: #202a3a;
  position: relative;
  color: #fff;
  height: 100vh;
  text-align: center;
}

.auth-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auth input[type='text'],
.auth input[type='email'],
.auth input[type='password'] {
  background: rgba(0,0,0, 0.3);
  border-color: rgba(255,255,255, 0.2);
  text-align: center;
}
