.alert {
  border-radius: 0;
}

.alert-danger {
  background: #e11144;
  border-color: #e11144;
  color: #fff;
}

.alert-success {
  background: #4bb622;
  border-color: #4bb622;
  color: #fff;
}

.panel-danger {
  border-color: #e11144;
}

.panel-danger .panel-heading {
  background: #e11144;
  color: #fff;
}


.navbar-nav>li>.dropdown-menu {
  margin-top: -1px;
}


.navmenu, .navbar-offcanvas {
  width: 350px;
}


a.sign-out {
  position: absolute;
  right: 15px;
  top: 0px;
  display: block;
  padding: 15px;
}



.image-dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
}

.image-dropzone.dz-drag-hover {
  border: 2px solid #0087F7;
}

/*.menu li.no_views {
  border-color: #dbe8ee;
}*/

.menu li.is_showed a {
  /*border-color: #f0eeef!important;
  background-color: #faf4f6;*/
  /*font-weight: bold;*/
  color: #989898!important;
}
