.publication-text   {
    font-size: 15px;
    line-height: 1.55;

    img {
        max-width: 100%;
    }

    blockquote {
        border-left-color: #eb5c24;

        &.enkorr-blockquote-1 {
            border-left: 0;
            padding-left: 50px;
            font-style: italic;
            border-bottom: 2px solid #ccc;
            position: relative;

            &:before {
                content: "\f10d";
                position: absolute;
                left: 0; top: 10px;
                font-family: FontAwesome;
                font-size: 25px;
                color: #eb5c24;
            }
        }
    }

    .image-with-title {
        position: relative;
        display: inline-block;

        @media (max-width: 766px)
        {
            // margin-left: -15px;
            // margin-right: -15px;
        }

        .image-caption {
            position: absolute;
            left: 0; bottom: 0; right: 0;
            padding: 15px;
            padding-left: 45px;
            padding-top: 75px;
            color: #fff;
            opacity: 1;
            transition: opacity 300ms;

            i.fa {
                position: absolute;
                left: 15px; top: 78px;
            }

            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
        }

        &.hidden-caption .image-caption {
            @media (max-width: 767px)
            {
                opacity: 0;
            }
        }
    }
}

.publication-main-image {
    @media (max-width: 766px)
    {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.publications-like {
  a {
    display: block;
    overflow: hidden;
    height: 150px;
    position: relative;

    img {
        object-fit: cover;
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        transition: transform 600ms;
        z-index: 1;
    }
  }
}


.publication-gallery {
    .item {
        position: relative;
        overflow: hidden;
        cursor:e-resize;
        height: 400px;
        background: #eee;

        img {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        span {
            position: absolute;
            left: 0; right: 0;
            bottom: 0;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
            display: block;
            padding: 10px;
            padding-top: 100px;
            color: #fff;
            z-index: 2;
            font-size: 13px;
        }
    }

    .owl-nav [class*=owl-] {
        background: #eb5c24;
        color: #fff;
    }

    .owl-nav [class*=owl-]:hover {
        background: darken(#eb5c24, 10);
    }

    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background: #eb5c24;
    }
}

.publication-gallery-thumbs {
    .item {
        height: 100px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: rgba(0,0,0, 0.4);
            opacity: 100;
            z-index: 2;
            transition: opacity 200ms;
        }

        &:hover:before {
            opacity: 0;
        }

        img {
            object-fit: cover;
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            transition: transform 600ms;
            z-index: 1;
        }
    }
}


.publication-author {
    display: inline-block;

    .author-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        // top: 25px;
        margin-right: 10px;
        margin-left: 10px;

        img {
            object-fit: cover;
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: 1;
        }
    }

    .author-info, .author-image {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }

    .author-name {
        font-weight: bold;
    }

    .author-about {
        color: #333;
    }

    &:hover {
        text-decoration: none;
    }
    
}