.sidebar {

    ul.sidebar-list.first-image {
        li {
            @media (max-width: 767px)
            {
                &:first-child {
                    a {
                        height: 250px;
                        position: relative;
                        overflow: hidden;
                        font-weight: 700;
                        margin-left: -15px;
                        margin-right: -15px;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0; right: 0;
                            top: 0; bottom: 0;
                            background: rgba(0,0,0, 0.4);
                            z-index: 2;
                            transition: background 200ms;
                        }

                        img {
                            display: block;
                            object-fit: cover;
                            position: absolute;
                            left: 0; top: 0;
                            width: 100%; height: 100%;
                            transition: transform 600ms;
                            z-index: 1;
                        }

                        > span {
                            position: absolute;
                            left: 0; right: 0;
                            bottom: 0;
                            z-index: 3;
                            font-size: 16px;
                            padding: 15px;
                            color: #fff;

                            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
                            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
                            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

                            time {
                                color: #fff;
                                font-weight: 400;
                                font-size: 12px;
                                margin-bottom: 5px;

                                span {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ul.sidebar-list {
        margin: 0; padding: 0;
        list-style-type: none;

        li {
            display: block;
            margin: 0; padding: 0;

            +li {
                border-top: 1px solid #eaeaea;
            }

            a {
                display: block;
                padding: 10px 0;
                position: relative;
                color: #212121;

                &:hover {
                    text-decoration: none;
                    color: #eb5c24;
                }

                time {
                    display: block;
                    font-size: 12px;
                    color: #454545;

                    span {
                        color: #bdbdbd;
                    }
                }

                img {
                    display: none;
                }
            }

            
        }
    }
}

.publications {
    .publications-item {
        a {
            display: block;
            height: 170px;
            position: relative;
            overflow: hidden;

            @media (max-width: 992px)
            {
                height: 280px;
            }

            @media (max-width: 767px)
            {
                height: 200px;
                margin-left: -15px; 
                margin-right: -15px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0; right: 0;
                top: 0; bottom: 0;
                background: rgba(0,0,0, 0.4);
                z-index: 2;
                transition: background 200ms;
            }

            .publications-item-detail {
                position: absolute;
                left: 0; right: 0;
                bottom: 0;
                z-index: 3;
                font-size: 12px;
                padding: 15px;
                color: #fff;

                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

                .publication-theme {
                    color: #eb5c24;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                h2 {
                    font-size: 14px;
                    margin: 5px 0; padding: 0;
                    font-weight: 700;

                    @media (max-width: 990px)
                    {
                        font-size: 18px;
                    }
                }

                time {
                    color: rgba(255,255,255, 0.7);
                }
            }

            &:hover:before {
                background: rgba(0,0,0, 0.5);
            }
        }

        &.col-md-12 a {
            height: 280px;

            @media (max-width: 767px)
            {
                height: 200px;
            }

            .publications-item-detail h2 {
                

                @media (min-width: 991px)
                {
                    font-size: 26px;
                }
            }
        }

        img {
            object-fit: cover;
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            transition: transform 600ms;
            z-index: 1;
        }
    }

}


h2.column-title, .h2.column-title {
        font-family: Merriweather;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin: 0; padding: 0;
        padding-bottom: 20px;
        position: relative;
        padding-left: 20px;

        &:before {
            position: absolute;
            left: 0; top: 5px;
            width: 10px; height: 10px;
            background: #eb5c24;
            border-radius: 2px;
            content: '';
        }
    }


.all-publications {
    .sidebar {
        ul.sidebar-list.first-image li {
            &:first-child {
                    a {
                        height: 350px;
                        position: relative;
                        overflow: hidden;
                        font-weight: 700;
                        
                        @media (max-width: 767px) 
                        {
                            margin-left: -15px;
                            margin-right: -15px;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0; right: 0;
                            top: 0; bottom: 0;
                            background: rgba(0,0,0, 0.4);
                            z-index: 2;
                            transition: background 200ms;
                        }

                        img {
                            display: block;
                            object-fit: cover;
                            position: absolute;
                            left: 0; top: 0;
                            width: 100%; height: 100%;
                            transition: transform 600ms;
                            z-index: 1;
                        }

                        > span {
                            position: absolute;
                            left: 0; right: 0;
                            bottom: 0;
                            z-index: 3;
                            font-size: 22px;
                            padding: 15px;
                            color: #fff;

                            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
                            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
                            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

                            time {
                                color: #fff;
                                font-weight: 400;
                                font-size: 12px;
                                margin-bottom: 5px;

                                span {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
        }
        ul.sidebar-list li {
                a {
                font-size: 18px;
            }
            } 
    }
}